# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
*.egg-info/

# mypy
.mypy_cache/

# IDE
.vscode/

# Unit test / coverage reports
.pytest_cache/
.coverage
cov.xml

# Data
sample_data/FakeTracks.tif
