name: Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  release:
    types: [ "created" ]

jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        persist-credentials: false
    
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.x"
        
    - name: Install pypa/build
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade build
    
    - name: Build a binary wheel and a source tarball
      run: |
        python -m build
    
    - name: Store the distribution packages
      uses: actions/upload-artifact@v5
      with:
        name: python-package-distributions
        path: dist/


  # publish-to-testpypi:
  #   name: Publish to TestPyPI
  #   needs: build
  #   runs-on: ubuntu-latest
  #   # if: github.event_name == 'release' && success()
  #   environment:
  #     name: testpypi
  #     url: https://test.pypi.org/p/pycellin
  #   permissions:
  #     id-token: write  # mandatory for trusted publishing

  #   steps:
  #     - name: Download artifacts
  #       uses: actions/download-artifact@v5
  #       with:
  #         name: python-package-distributions
  #         path: dist/
      
  #     - name: Publish distribution to TestPyPI
  #       uses: pypa/gh-action-pypi-publish@release/v1
  #       with:
  #         repository-url: https://test.pypi.org/legacy/

  publish-to-pypi:
    name: Publish to PyPI
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && success()
    environment:
      name: pypi
      url: https://pypi.org/p/pycellin
    permissions:
      id-token: write  # mandatory for trusted publishing
    
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v5
      with:
        name: python-package-distributions
        path: dist/

    - name: Publish distribution to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
